* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  margin: 30px;
  background-color: #1f2833;
  color: #c5c6c7;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  display: none;
}

.nav-items>li {
  list-style: none;
  padding: 20px;
  display: inline;
  text-decoration: none;
  cursor: pointer;
  color: #c5c6c7;
}

.nav-items>li:hover {
  color: #efeff0;
  font-weight: 600;
}


#calculator {
  float: right;
  background-color: #0b0c10;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 8px 8px 15px #45a29e;
}

input[type='button'] {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  border: none;
  background-color: transparent;
  box-shadow: 2px 2px 5px #66fcf1;
  cursor: pointer;
  font-size: 20px;
  color: #c5c6c7;
  margin: 5px;
}

input[type='button']:hover {
  background-color: #000000;
  box-shadow: 0px 0px 10px 3px #66fcf1;
}

.display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

input[name="display"] {
  background: transparent;
  cursor: pointer;
  color: #c5c6c7;
  padding: 15px;
  flex: 1;
  border: #45a29e double;
  font-size: 35px;
  height: 100px;
  width: 90px;
  text-align: end;
  outline: none;
  box-shadow: inset -2px -2px 10px #373e47, inset 2px 2px 10px #373e47;
}

/* -------------------------------to do list----------------------------------  */
#to_do {
  display: inline-block;
  width: 70%;
}

.type {
  height: 70px;
  border-radius: 10px;
  border: #45a29e double;
  background: #0b0c10;
  width: 50rem;
  font-size: 20px;
  padding: 8px;
  color: #c5c6c7;
  outline: none;
}

.btn {
  background-color: #45a29e;
  color: #0b0c10;
  padding: 10px;
  border: #0b0c10 solid;
  box-shadow: 3px 3px 5px #373e47;
  border-radius: 15px;
  width: 100px;
  height: 65px;
  font-size: 20px;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #66fcf1;
  font-weight: 600;
}

hr {
  margin: 20px 0px 30px 0px;
  border: 0;
  height: 1px;
  box-shadow: 0px 1px 10px 1px #45a29e;
}

.tasklist {
  display: inline-block;
}

.tasklist>li {
  height: 70px;
  border-radius: 10px;
  border: #45a29e double;
  background: #0b0c10;
  width: 58rem;
  line-height: 45px;
  font-size: 20px;
  padding: 8px 5px 5px 20px;
  display: inline-block;
  list-style: none;
}

.btn-close {
  padding: 1px;
  margin: 6px;
  color: #66fcf1;
  background: transparent;
  border: none;
  line-height: 50px;
  float: right;
  cursor: pointer;
  display: none;
}

.tasklist>li:hover {
  .btn-close {
    display: inline-block;
  }

  background-color: #000000;
}

@media (max-width:1024px) {

  #to_do {
    display: none;
  }

  #calculator {
    display: none;
  }

  .menu {
    display: flex;
  }
}